<?xml version="1.0" encoding="utf-8" ?>
<Nini>
  <Section Name="GoogleCalendar">
    <Key Name="IsGoogleCalendarEnabled" Value="False"/>
    <Key Name="BindedCalendar" Value="https://www.google.com/calendar/feeds/default/private/full"/>
    <Key Name="UserName" Value=""/>
    <Key Name="Password" Value=""/>
  </Section>
  <Section Name="Calendar">
    <Key Name="WorkdayStart" Value="08:00"/>
    <Key Name="WorkdayEnd" Value="17:00"/>
    <Key Name="SlotDuration" Value="ThirtyMinutes"/>
  </Section>
</Nini>

