<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net40" />
  <package id="Google.GData.AccessControl" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Calendar" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Client" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Extensions" version="2.1.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.2.4000" targetFramework="net40" />
  <package id="log4net" version="1.2.10" />
  <package id="mongocsharpdriver" version="1.7.1" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net40" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40" />
  <package id="Probel.Mvvm" version="1.2.2.95" targetFramework="net40" />
  <package id="Probel.Mvvm.fr" version="1.2.2.95" targetFramework="net40" />
  <package id="Probel.NDoctor.Statistics" version="1.0.3.192" targetFramework="net40" />
</packages>