<?xml version="1.0" encoding="utf-8" ?>
<Nini>
  <Section Name="Debug">
    <Key Name="InjectDefaultData" Value="True" />
    <Key Name="LoadDefaultUser" Value="True" />
    <Key Name="DefaultGoogleCalendarConfig" Value="True" />
    <Key Name="IsGoogleActivated" Value="False"/>
  </Section>
</Nini>
