<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Probel.NDoctor.View.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <userSettings>
    <Probel.NDoctor.View.Core.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>fr</value>
      </setting>
      <setting name="WorkDayStart" serializeAs="String">
        <value>08:00</value>
      </setting>
      <setting name="WorkDayEnd" serializeAs="String">
        <value>17:00</value>
      </setting>
      <setting name="SlotDuration" serializeAs="String">
        <value>ThirtyMinutes</value>
      </setting>
    </Probel.NDoctor.View.Core.Properties.Settings>
  </userSettings>

  <appSettings>
    <!--
         DO NOT CHANGE THE SETTINGS BELOW THIS COMMENT. 
         YOU CAN LOOSE ALL YOU DATA IF YOU DON'T KNOW WHAT YOU'RE DOING 
    -->
    <add key="HandleUncaughtException" value="False"/>
    <add key="Database" value="C:\Users\jibedoubleve\Desktop\Database\NewDatabase.db"/>
    <add key="CreateDatabase" value="false"/>
  </appSettings>
</configuration>