<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Probel.NDoctor.View.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--
        MODIFY THIS CONFIGURATION ONLY IF YOU KNOW WHAT YOU ARE DOING
    -->
    <!-- Set at True, it'll benchmark & log execution time of component methods -->
    <add key="BenchmarkEnabled" value="True" />
    <!-- Indicates when the execution of the benchark method is slow. Value in ms -->
    <add key="ExecutionTimeThreshold" value="500" />
    <!-- Indicates whether the uncaught exceptions should be catch or not-->
    <add key="HandleUncaughtException" value="True" />
    <!--
         DO NOT CHANGE THE SETTINGS BELOW THIS COMMENT. 
         YOU CAN LOOSE ALL YOU DATA IF YOU DON'T KNOW WHAT YOU'RE DOING!!!
    -->
    <!-- Indicates the default path of the application -->
    <add key="Database" value="%appdata%\Probel\nDoctor\Database.db" />
    <!--Indicates whether starting the application will create a fresh database. It erases the previous one!-->
    <add key="CreateDatabase" value="False" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Probel.NDoctor.View.Core.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>fr</value>
      </setting>
      <setting name="AutomaticContextMenu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchType" serializeAs="String">
        <value>FirstAndLastName</value>
      </setting>
    </Probel.NDoctor.View.Core.Properties.Settings>
  </userSettings>
</configuration>