<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ExportHbm" value="false" />
    <add key="ExportHbmPath" value="C:\Users\jibedoubleve\Desktop\Database" />
    <add key="DBPath" value="C:\Users\jibedoubleve\Desktop\Database\NewDatabase.db" />-->
    <add key ="CreateDb" value="true"/>
  </appSettings>
</configuration>