<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmpA8EE7350228F5431A092C53E2351A1DA" Guid="*">
                <File Id="fil0E08AFE36874E533E30F13384112EFA1" KeyPath="yes" Source="$(env.NEST)\AutoMapper.dll" />
            </Component>
            <Component Id="cmp95FD366ED002BAD1A9B72F08677B4EBB" Guid="*">
                <File Id="filB32195768B8B9528848AB4CBB6FB09C5" KeyPath="yes" Source="$(env.NEST)\AvalonDock.dll" />
            </Component>
            <Component Id="cmp4AE2CD167FF4894E9076AF5FC612D713" Guid="*">
                <File Id="fil808D19806529ABA1617D818072819E54" KeyPath="yes" Source="$(env.NEST)\Castle.Core.dll" />
            </Component>
            <Component Id="cmp3A997FB04A9779433D25509F92A86936" Guid="*">
                <File Id="filBA1DBC45A970B668BB4EE62C695553A7" KeyPath="yes" Source="$(env.NEST)\FluentNHibernate.dll" />
            </Component>
            <Component Id="cmp5AB409D451CF4583BD9ABE39059F3DB8" Guid="*">
                <File Id="fil892792D67887F91A1AF7D62518CD216D" KeyPath="yes" Source="$(env.NEST)\Google.GData.AccessControl.dll" />
            </Component>
            <Component Id="cmp016E7DAEBC61B387C7B616635A276937" Guid="*">
                <File Id="fil9FD968D0D674CBDA6302C31E691DBD85" KeyPath="yes" Source="$(env.NEST)\Google.GData.Calendar.dll" />
            </Component>
            <Component Id="cmp887C83716E08DA027C82D8248058E578" Guid="*">
                <File Id="filA0B5E86B3740F915F5AEEC12E4D5A217" KeyPath="yes" Source="$(env.NEST)\Google.GData.Client.dll" />
            </Component>
            <Component Id="cmp679B82EDFE52528D9666ECA768F550A6" Guid="*">
                <File Id="fil3E17380F52C9EE74E4F0E2D175355A14" KeyPath="yes" Source="$(env.NEST)\Google.GData.Extensions.dll" />
            </Component>
            <Component Id="cmp863C2A8BB29E5C4C81AF987087C6859E" Guid="*">
                <File Id="fil8C4DC4511F018845522DDBFCB690243C" KeyPath="yes" Source="$(env.NEST)\HibernatingRhinos.Profiler.Appender.v4.0.dll" />
            </Component>
            <Component Id="cmpEBE3708427CCDA04E12DE366A56F4441" Guid="*">
                <File Id="fil06760C8D25183C8A8CF53F339D6BCCC7" KeyPath="yes" Source="$(env.NEST)\Iesi.Collections.dll" />
            </Component>
            <Component Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" Guid="*">
                <File Id="fil53CF67BC1F7314B08C1D64A6CEA223E4" KeyPath="yes" Source="$(env.NEST)\log4net.dll" />
            </Component>
            <Component Id="cmp964F9515A99542A3E8D1EBC823B8CD2C" Guid="*">
                <File Id="filA5F40CA91D60A24BA94705A5D1D2D51F" KeyPath="yes" Source="$(env.NEST)\Microsoft.Windows.Shell.dll" />
            </Component>
            <Component Id="cmpFBCC29B4206A310A160865E52663C221" Guid="*">
                <File Id="fil6D559E94A849451C8291A275CF003309" KeyPath="yes" Source="$(env.NEST)\MongoDB.Bson.dll" />
            </Component>
            <Component Id="cmpFA2A2CBF41325A5EEFC962315750E330" Guid="*">
                <File Id="fil1A5C28FC5B8031A44E7F7E62923F8632" KeyPath="yes" Source="$(env.NEST)\MongoDB.Driver.dll" />
            </Component>
            <Component Id="cmp72974F93C3F42DAFDBFB2867D92E41D9" Guid="*">
                <File Id="fil7F15BA8094994ADAD04DA907E934B5BD" KeyPath="yes" Source="$(env.NEST)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp48A389F21271FDC5825A9C1B25E82E45" Guid="*">
                <File Id="fil6EDFA9A322A7AB6A8E262D0DB4F60405" KeyPath="yes" Source="$(env.NEST)\NHibernate.dll" />
            </Component>
            <Component Id="cmpDAA52FB0FA39AE33D5E28FED0F4E300B" Guid="*">
                <File Id="fil49814C36CB50CB80DC543F28CA50AAAA" KeyPath="yes" Source="$(env.NEST)\Nini.dll" />
            </Component>
            <Component Id="cmpD4092A2E988A1CF3581061DFDCF81B4B" Guid="*">
                <File Id="fil83833CB5831453F26D085EA88B5266B6" KeyPath="yes" Source="$(env.NEST)\Probel.Helpers.dll" />
            </Component>
            <Component Id="cmpFA86C01A3D98EA3173EF4F04DABD6EFD" Guid="*">
                <File Id="filE30ED1022BA660FC67CBF2820C33B5A9" KeyPath="yes" Source="$(env.NEST)\Probel.Helpers.WPF.dll" />
            </Component>
            <Component Id="cmpA606428E3ED1C38DB96C53CA2F648826" Guid="*">
                <File Id="fil4FAB74E15AACF9AA9C80F6DC33F0699A" KeyPath="yes" Source="$(env.NEST)\Probel.Mvvm.dll" />
            </Component>
            <Component Id="cmp1C9F3AC8E93C876BE07A062AE3E195CD" Guid="*">
                <File Id="fil99BE0BDA2A8562A0131222D3832EAAEA" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.Domain.Components.dll" />
            </Component>
            <Component Id="cmpB55847492E81B24623F1F22CD987B226" Guid="*">
                <File Id="filAA56852271A148E15C8C309657B63D1C" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.Domain.DAL.dll" />
            </Component>
            <Component Id="cmp22BEB37DB218344623028C5FCC2D25F8" Guid="*">
                <File Id="fil35630826FEAF05BDB438AAE6EFB80B07" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.Domain.DTO.dll" />
            </Component>
            <Component Id="cmp3B40EB30F6B6FDB8FE92ECEF7A327199" Guid="*">
                <File Id="filFEF39A95C8FB2D034549B691DB787342" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.exe" />
            </Component>
            <Component Id="cmpB372E2F71436082544E17B16DDFC8075" Guid="*">
                <File Id="filAC72BEB456FCEF03939B3AA201C7EA01" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.exe.config" />
            </Component>
            <Component Id="cmpE3E6DCDC33A060A9D07CBA3853DE9827" Guid="*">
                <File Id="filEAFBC89978510B847BE10E400F94F00E" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.exe.log4net" />
            </Component>
            <Component Id="cmp8283157907C9C263EF085DC0DBC5AE7F" Guid="*">
                <File Id="filDC6141B4C1A2580061537F830D8C08D3" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.vshost.exe" />
            </Component>
            <Component Id="cmpC9E80DA5005470651652A3C3DF7A0E01" Guid="*">
                <File Id="fil9B7D091E488F141C61F7A15CDF1F247C" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Plugins.dll" />
            </Component>
            <Component Id="cmp9DA5A034D58AAFD9958B17EB72041AA4" Guid="*">
                <File Id="filB9FEAECC672ABA0855B6C568D1F9A8F1" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Toolbox.dll" />
            </Component>
            <Component Id="cmpE9E0DB0A92DC26C9256D7AFF981046D7" Guid="*">
                <File Id="fil60837713BBEDAA4B3F09249D2B134A8D" KeyPath="yes" Source="$(env.NEST)\RibbonControlsLibrary.dll" />
            </Component>
            <Component Id="cmp54589ABC5F720AF3AFD2A19E4A5D4DA9" Guid="*">
                <File Id="filC62352280CA691168D9D11B503F086B8" KeyPath="yes" Source="$(env.NEST)\StructureMap.dll" />
            </Component>
            <Component Id="cmpC90079EC06B27F900AD04264028C916D" Guid="*">
                <File Id="filF33684474A7E170A3D4C585FF6D5F7F4" KeyPath="yes" Source="$(env.NEST)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmp5BE9B98660882F9C3FF99CA006E598E2" Guid="*">
                <File Id="fil74B2E10743BB229F074EA8E628651DAC" KeyPath="yes" Source="$(env.NEST)\System.Windows.Controls.DataVisualization.Toolkit.dll" />
            </Component>
            <Component Id="cmpE4950E86D5EC421C7E76C8E51B9D0E87" Guid="*">
                <File Id="filFAA699764C1C8061CA0351BAB6AE91CA" KeyPath="yes" Source="$(env.NEST)\System.Windows.Controls.Input.Toolkit.dll" />
            </Component>
            <Component Id="cmp674610C254356A69BB0B856BC9E45F67" Guid="*">
                <File Id="fil00D8179B4FE480297304AC51834417BE" KeyPath="yes" Source="$(env.NEST)\System.Windows.Controls.Layout.Toolkit.dll" />
            </Component>
            <Component Id="cmp8341C8DC13AB9E7E519D410C4FA10773" Guid="*">
                <File Id="fil26AD1347E217D03B731C86474645A9F4" KeyPath="yes" Source="$(env.NEST)\WPFToolkit.dll" />
            </Component>
            <Component Id="cmp809C2AD388CE8E7C8F57E018B288F196" Guid="*">
                <File Id="fil55005558A7AD11ED4185BEDD64A7D390" KeyPath="yes" Source="$(env.NEST)\WPFToolkit.Extended.dll" />
            </Component>
            <Component Id="cmp39A04F6DBF655CC40248EC6309715D8B" Guid="*">
                <File Id="filFD9455F85AAF3711A138284112EAE42C" KeyPath="yes" Source="$(env.NEST)\Xceed.Wpf.DataGrid.dll" />
            </Component>
            <Directory Id="dir1424604976AE3158AC7908CE5FE4118E" Name="fr">
                <Component Id="cmp83FC17FD05B381D1F7C8F70CD9992C95" Guid="*">
                    <File Id="fil643D8441B9413B2D9AB8573C16341C9C" KeyPath="yes" Source="$(env.NEST)\fr\Probel.Helpers.resources.dll" />
                </Component>
                <Component Id="cmp955F878C51CD0D3B913BACE3601DAFE2" Guid="*">
                    <File Id="fil23643E3E4FF3A5048A4FC1D73F9ADB05" KeyPath="yes" Source="$(env.NEST)\fr\Probel.Mvvm.resources.dll" />
                </Component>
                <Component Id="cmp6DE2DCF1EEB103BD4BE3932374E7D895" Guid="*">
                    <File Id="filE52A94DE9B2F077B0874BE9AFCE2B9EE" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                </Component>
                <Component Id="cmp1305C0EA040E8C477A69FD13401FA4C1" Guid="*">
                    <File Id="fil2DB1874D5DBED5ABAE9281DD2FDE11C8" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.Domain.DTO.resources.dll" />
                </Component>
                <Component Id="cmpA9F73CEDBC54AE570B068B1A7A6F907C" Guid="*">
                    <File Id="filE0F67411BDA0836C8AE6BD9779275B18" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.View.Core.resources.dll" />
                </Component>
                <Component Id="cmp40A91BE231F41D26303998E1F2AF220A" Guid="*">
                    <File Id="fil767B02FE1539D65020AC471B57183CD4" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                </Component>
                <Component Id="cmpFEBAE63FD904CE060C7BA5EFF9F23586" Guid="*">
                    <File Id="filB8F562CC12204D7E1A4F6607C3149B5A" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.View.Toolbox.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir8A34519E7F04FFF4BB95A3B5F71B2454" Name="Plugins">
                <Directory Id="dirF57C0DB806D428CE3E5B52251BF181EB" Name="Administration">
                    <Component Id="cmp74232BEF50199E96CC1FCA17BE61FED6" Guid="*">
                        <File Id="fil2807895B8290722DAE356B9315BEA1FC" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\Probel.NDoctor.Plugins.Administration.dll" />
                    </Component>
                    <Directory Id="dirE8B85050366E61A1C6CE970A7BBE2DD0" Name="fr">
                        <Component Id="cmp641589617726FFE502689A03AF7BC593" Guid="*">
                            <File Id="filB9C614CE1843FF19559C79C1E11FFD28" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp780F789609216C7BE4BB8716623DBB08" Guid="*">
                            <File Id="filA7DFE31BE473B966C1A4DFA47264B2FA" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmpA9C45E07FA1CDE0DBBAC099C8DE069F3" Guid="*">
                            <File Id="filEBFEE91A2FC8D75833D4EF470207F958" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.Plugins.Administration.resources.dll" />
                        </Component>
                        <Component Id="cmpA19419B03B8109A6EA7FABD94D71CF85" Guid="*">
                            <File Id="filF5923E36D3E377D0BBF077902C8EA4F2" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp205FA501BC490B9DA8684CE8D50347E6" Guid="*">
                            <File Id="fil1C77977D74D1596F43C000D921C77D46" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA093BB429654B56F31E894A1266021A0" Name="Authorisation">
                    <Component Id="cmp46F0BA028909031718DBEE6B1B64B79A" Guid="*">
                        <File Id="fil744ACCF6CDC53CE6E978AA1A1EDC0090" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\Probel.NDoctor.Plugins.Authorisation.dll" />
                    </Component>
                    <Directory Id="dir1369ED2143551306F21C5D3FCD6D5EAE" Name="fr">
                        <Component Id="cmp2603CA21D9E33DBCFA5652A9B0D05764" Guid="*">
                            <File Id="filF3F224B49364F1685FB4221DC0722DF8" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp1DE0D0A1CA3803AFB0D710BC08DBABC0" Guid="*">
                            <File Id="filA5037E2BD59A099820D4EB04BB358444" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp94EDFADCC092DD7BC0345F0A8B1842F4" Guid="*">
                            <File Id="fil64D16B5FEF8BA450BF3E8DB85759C72C" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.Plugins.Authorisation.resources.dll" />
                        </Component>
                        <Component Id="cmp3C5AC6E41A7A75DA7699E6E59862FBBF" Guid="*">
                            <File Id="fil154DC7354424D4D48828E0EAFBCD6E01" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp6C52D9A65B1218CED3089C4B28E16EE0" Guid="*">
                            <File Id="fil165AB4D8F2627A5D266AF2AE5934BC48" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirBA5DFDA0ED76817D2459638096B39B64" Name="BmiRecord">
                    <Component Id="cmp486FDCE297B63F31D3B551C4B10F96D8" Guid="*">
                        <File Id="filF2784B99CC3E810AD05805381A180873" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\Probel.NDoctor.Plugins.BmiRecord.dll" />
                    </Component>
                    <Directory Id="dir823BE641913BE8A66D59A144B10FB394" Name="fr">
                        <Component Id="cmp2E2BB6968E5CE22A895112407B122FEA" Guid="*">
                            <File Id="filBE3742C4B760951143862F66DDAE1398" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmpCF3AA2ED1BE411DBB05DEB5750D1444C" Guid="*">
                            <File Id="filA42DA3A386C8091260335F0EDF18DB5C" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp409E08C2064302CEA4A3042B5AFC0EE5" Guid="*">
                            <File Id="filE67FE6F041A9D8E4AE1BD635AEE2987F" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.Plugins.BmiRecord.resources.dll" />
                        </Component>
                        <Component Id="cmpD6AA009C21985A96F270037E053072F1" Guid="*">
                            <File Id="fil7FE3F3DBCA9AB7F992A2FA53D7423B30" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp8F6E51D7951C9F0E4CEA4DD06713FA8E" Guid="*">
                            <File Id="fil3EF9AE3BBEC46E5D01C6E652CDFD2647" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB33F97D251465649E392CA7280AC5A96" Name="DbConvert">
                    <Component Id="cmp56DCD97D193E50F5DCED1CB1C6E8C9AD" Guid="*">
                        <File Id="fil433391DF33DD41B76E6DA8BD154F6619" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\Probel.NDoctor.Plugins.DbConvert.dll" />
                    </Component>
                    <Directory Id="dir7AFBFF20607FB5165BE0C25B4878A343" Name="fr">
                        <Component Id="cmp7F59132FC8F49A64F4B9097CF44DCD9E" Guid="*">
                            <File Id="fil5FC241EB53FF4DAF13A4A60626C32989" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmpE5874A67816384EBB6216D2B2969D894" Guid="*">
                            <File Id="filE6EF78787705DCED33F7D7E9DB88C429" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp9E32AE9C640005CA542B78B26B003405" Guid="*">
                            <File Id="fil6901EBD331D6A618C869EE2B53FE3070" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.Plugins.DbConvert.resources.dll" />
                        </Component>
                        <Component Id="cmp5121E0734FB2A52ECB48D3A535A61295" Guid="*">
                            <File Id="filA0658C89D1DB423B48711DEBFB494D7C" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmpA92AD97548ADC709875709B0A993CCFA" Guid="*">
                            <File Id="fil20DA7611C113562E6A6EB906B709722C" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA8D398CF33AC8FB54517A7C7886C526F" Name="DebugTools">
                    <Component Id="cmpACA274D634C67A99972BD04994E1984E" Guid="*">
                        <File Id="filFFCA27439296A7390CDB5194189F56F2" KeyPath="yes" Source="$(env.NEST)\Plugins\DebugTools\Probel.NDoctor.Plugins.DebugTools.dll" />
                    </Component>
                    <Directory Id="dir3CCB982A11D7B45BEE9AC578C93B829A" Name="fr">
                        <Component Id="cmp6E0C59392CEB06067E865CB4DEACA4EF" Guid="*">
                            <File Id="filC1C7E223EC7978064C7852E437C5ECE6" KeyPath="yes" Source="$(env.NEST)\Plugins\DebugTools\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp9AC1D933A37B28C8750AD7DABFBDA773" Guid="*">
                            <File Id="filEA4B480996DD5F36BF6363C38320D5E9" KeyPath="yes" Source="$(env.NEST)\Plugins\DebugTools\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp465BD801FCF5290353725A2C3FE397D0" Guid="*">
                            <File Id="fil2EFB67DD469392F540DBF893DD481414" KeyPath="yes" Source="$(env.NEST)\Plugins\DebugTools\fr\Probel.NDoctor.Plugins.DebugTools.resources.dll" />
                        </Component>
                        <Component Id="cmp78004B86B99F694328FED04F5EBCD94A" Guid="*">
                            <File Id="fil0DE5A09D6AA92CE1317018FEC98BD98F" KeyPath="yes" Source="$(env.NEST)\Plugins\DebugTools\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp3A01E807AB67FCF43DE7B9B9E3204DDC" Guid="*">
                            <File Id="filA326C6F573CCA270A02A8FE5B94FAF74" KeyPath="yes" Source="$(env.NEST)\Plugins\DebugTools\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB3E00304E321AA8429FF31B0805D49A7" Name="FamilyViewer">
                    <Component Id="cmp55A033CC194D20E2BFF71BDFB19BC9E1" Guid="*">
                        <File Id="fil06CE27228AF17E5B6A76C7EF57AEDD25" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\Probel.NDoctor.Plugins.FamilyViewer.dll" />
                    </Component>
                    <Directory Id="dir3529A82C9E12BB2557208ECC0BA4178E" Name="fr">
                        <Component Id="cmpEE68E9B344D58459C103BD6405DA5EE3" Guid="*">
                            <File Id="filC740493E935E1C012E89F4938A40F95B" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmpAF5799806DA19788F64BEA9D435CB6E4" Guid="*">
                            <File Id="fil5B8742E3E3F7742851EB9740EFBCAB9A" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp2A7B8AAD74935A09D14BD1E08230F279" Guid="*">
                            <File Id="filAF25B0A722499975CC6FC7EBD837545C" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.Plugins.FamilyViewer.resources.dll" />
                        </Component>
                        <Component Id="cmp2C122F33A9F7054D248DA629DEE9A06E" Guid="*">
                            <File Id="fil64FAA3A03FFC762E6A131638DDFB2128" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp7F7408FD7BA8FBBDBA4A54DD52B2B0D6" Guid="*">
                            <File Id="fil7E55F1CB9942E7081D5BD9B88160400C" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir52B0879C42099C98EA3A40BD4B9DCE3C" Name="MedicalRecord">
                    <Component Id="cmp6655383E4350CECC2C12B0F864396455" Guid="*">
                        <File Id="fil01E9C2050470FE746F2CE3E00207CBC9" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\ICSharpCode.AvalonEdit.dll" />
                    </Component>
                    <Component Id="cmp6C11A2DE4FB10452017B3161CB4EC062" Guid="*">
                        <File Id="filAA4518E9D7882A124B712A8B96702EFA" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\Probel.NDoctor.Plugins.MedicalRecord.dll" />
                    </Component>
                    <Directory Id="dirC8174367C5C4578F61A9D1A8978A0CD8" Name="fr">
                        <Component Id="cmp5017A23668D9C62734EFEA4CB1057062" Guid="*">
                            <File Id="fil3212CA030F1FDD7396EDA7B468829542" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp3C7FF848C92B1096D93393D98F4BD8A6" Guid="*">
                            <File Id="filF9757CF547FCC066C1AA0AB61C72FAB9" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmpA07F853FDE9169C3F9FACCF3A6459386" Guid="*">
                            <File Id="fil5261906C31D2E2503AB7E216547C7715" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.Plugins.MedicalRecord.resources.dll" />
                        </Component>
                        <Component Id="cmpBEEFC14F3A9AE44DE83500E62DD4D1FC" Guid="*">
                            <File Id="fil618850032F0E2F39A48A30EF89AA992E" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp36D086B9AA8C9683DB216AEEAA5DCD66" Guid="*">
                            <File Id="filF96FD1953E18BDC1B3CFAB8C297EC4E7" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir625B2C3355BEDAC060916281B94CA458" Name="MeetingManager">
                    <Component Id="cmpCA0B21CBEB7EE710BA70C6BE0CEF75E8" Guid="*">
                        <File Id="fil4AEDADD2E57C2A6ACF37D270FFB09DBD" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\Probel.NDoctor.Plugins.MeetingManager.dll" />
                    </Component>
                    <Directory Id="dir8E568F207B21A0EACF2CE6B3630D7515" Name="fr">
                        <Component Id="cmpE6007DE7A90F6D1C83DF74AD31434609" Guid="*">
                            <File Id="fil0A035E508ABE70A2C208F46DF2967AD6" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp2000C6E427AEA0E22C6A56D2B9024579" Guid="*">
                            <File Id="fil86E1AB0C898CF75754FEC129991A3CA8" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp8E515FE0F49FB1AB1D2D1E5149AC3381" Guid="*">
                            <File Id="fil19FE01CBE50F75F4FFCD639C5BE07853" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.Plugins.MeetingManager.resources.dll" />
                        </Component>
                        <Component Id="cmpB9B51DFCA3CFA8FAF1C14BBB343F9806" Guid="*">
                            <File Id="fil7F2509CEC080B006E0B233D3B1A5476D" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmpF78869A1A5E975215ED5C13025F571C3" Guid="*">
                            <File Id="filCF8A2EFD13F3B746FC5964FDEF4E0C2F" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirACE1E68B2F9DF51CAE35177F4A429A9C" Name="PathologyManager">
                    <Component Id="cmpC9A486554D08420C09E29BA46D5FA732" Guid="*">
                        <File Id="filF8F26CC4946A4DDBB557B3A2A61B69B1" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\Probel.NDoctor.Plugins.PathologyManager.dll" />
                    </Component>
                    <Directory Id="dirDB6D0FD59FC3B7E374DAFCCD2D6A416C" Name="fr">
                        <Component Id="cmp9695E1C1BEE81BE673113C1911723C15" Guid="*">
                            <File Id="filAD1E82066E7A4963B5D3AAD8330BA747" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmpC07DAA545E021336F978C23A580DEE47" Guid="*">
                            <File Id="fil8C793141AAFF0151820659058DDF2180" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp2DA2B499D12B0A22EED04DE39986D969" Guid="*">
                            <File Id="fil7529D8987476E5781EC2C268D9451B57" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.Plugins.PathologyManager.resources.dll" />
                        </Component>
                        <Component Id="cmp0FF6C931EF7B9AB8D70215928BFAAB1D" Guid="*">
                            <File Id="fil4D33C658D60BB9C97D4B1CF2E1517BE2" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmpC7990C5889D633032BB993436182DC31" Guid="*">
                            <File Id="fil40DBD17F1740916CDC848EDA9AE6C64A" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir0DAD17B635C7D6A652085C5113893A49" Name="PatientData">
                    <Component Id="cmp9ACB2909D1604C72AE895D367182F375" Guid="*">
                        <File Id="filA74476BE4FC10A8FBEE19BBFA746EFD3" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\Probel.NDoctor.Plugins.PatientData.dll" />
                    </Component>
                    <Directory Id="dirE2F7ED0FA5D158F84EB206393D8424A3" Name="fr">
                        <Component Id="cmp79AFE71D92FD0FB72168FA13DB4CF1F8" Guid="*">
                            <File Id="fil35B50486582824181288EA5ECF4DF73E" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp0FD3B4B3B208C349055FD4A81242BEDA" Guid="*">
                            <File Id="fil686F6E2B0BBAB520E230828A6584834C" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp6F7082CA7B15DE47271E5A0310E54AF6" Guid="*">
                            <File Id="filC6F8495D0B453309FA83D485F950A504" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.Plugins.PatientData.resources.dll" />
                        </Component>
                        <Component Id="cmpD68319E8EF9A176C3477B0F59F8D4638" Guid="*">
                            <File Id="fil777A01F862D53A181DBB7EEC6419BD8F" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmpAC2453D515B00FA2BEF8CB16A659A2C7" Guid="*">
                            <File Id="fil956D3F602F8001B2CF2F6DAF857D4322" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirEF8744D316CFFA6505AFC5E1D17EEC5C" Name="PatientOverview">
                    <Component Id="cmp0217B20E1C799848530D30E873C0AD34" Guid="*">
                        <File Id="filD9F7F7A86979369A8BD612758094A914" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\Probel.NDoctor.Plugins.PatientOverview.dll" />
                    </Component>
                    <Directory Id="dir2A574DB713359C7C81BECFAC95E75D8F" Name="fr">
                        <Component Id="cmpF0338882FD95B775897487A5EAB039CE" Guid="*">
                            <File Id="filEB49DF9215B9D9D6034A25197D3A0E8A" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp07E3B84E72CBEF99E961010290E6F108" Guid="*">
                            <File Id="filE461FAEBEB27EF045B4830910D542CDE" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmpAA801BF02CEAB2E456D8C0F90A7408CF" Guid="*">
                            <File Id="filBD8DB0F0F6C751A2B1569DC9FCA1139E" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.Plugins.PatientOverview.resources.dll" />
                        </Component>
                        <Component Id="cmp38420039A357C9B80FD30354A412C44D" Guid="*">
                            <File Id="fil89738C5C57A200907F1B3B4260D7B518" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp924979CEEA899ECAF3F078450C092FCD" Guid="*">
                            <File Id="fil296C9AF7F707890BC036FD922B28DDD4" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirF4852B66E9E973BC90194D4806A6C699" Name="PatientSession">
                    <Component Id="cmp103EA283DB7B518171D524BF69925E5F" Guid="*">
                        <File Id="fil1AC6B5806B8EBD7EFD9E882CD3720EC7" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\Probel.NDoctor.Plugins.PatientSession.dll" />
                    </Component>
                    <Directory Id="dir7483ADD168A1C7F424906B8804E2701C" Name="fr">
                        <Component Id="cmp2DD6014BB8B9E9847EDC210E4331D2D1" Guid="*">
                            <File Id="fil6E0A0E3E8FA01E7A92D9114E53B2EB6C" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmpF73E18D662D51353E7C5A0E6EDEF4A3B" Guid="*">
                            <File Id="filB28A722E74DFC6651BE9ED614F454DCB" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmpE5EE8B809DDABD8EF948CBAAEF727B20" Guid="*">
                            <File Id="filF3D8281187FE94BA0C7D4996EF636822" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.Plugins.PatientSession.resources.dll" />
                        </Component>
                        <Component Id="cmp48E6EC175F99DCC32E26E8E525DD804A" Guid="*">
                            <File Id="filB997B8ED4D902B5BBA10E4F02870F6AB" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp6A2C9450034AE44157598891FDA3CFE0" Guid="*">
                            <File Id="fil315DB03B268E188AC68D1C74D8360904" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir9782929FABDF54A72A3D15C483023654" Name="PictureManager">
                    <Component Id="cmp3AC7EA8A3F6E0A31F83A5123F496BDB1" Guid="*">
                        <File Id="fil215523AEEF0AD32DAC9DD5A3420AF8C8" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\Probel.NDoctor.Plugins.PictureManager.dll" />
                    </Component>
                    <Directory Id="dir54617C1517A2A03BE2C564E800EF6F8E" Name="fr">
                        <Component Id="cmp789F9ED5A43012936B67CEF3DE7895F8" Guid="*">
                            <File Id="fil2B74130FB911BCD495A1E6D811DD22CB" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp65EBD3B4E7688D7E83FBE992E45750A8" Guid="*">
                            <File Id="fil5285B6D3F12AD2E6ADDA5B0E4A211A57" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmp701F2051E2B3530C3212F03D30FFBB6C" Guid="*">
                            <File Id="filFF912044ABA67A525DB70C34517029B0" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.Plugins.PictureManager.resources.dll" />
                        </Component>
                        <Component Id="cmp083D90DAF26F2AF4D84CEE8A925847EC" Guid="*">
                            <File Id="filB08CF791CA1A62195AD68D853165E14C" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp5536D5E3158382389C8F12CB9CD29B30" Guid="*">
                            <File Id="filCB202BAC18DFD3906762402FE7BC6E58" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirD0141C295F4F4619A2914E577013EEAE" Name="PrescriptionManager">
                    <Component Id="cmp96BCDD6E73A9FB814C653C692AF4F419" Guid="*">
                        <File Id="filAC2CF0942A59F7458B013CA57D45180A" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\Probel.NDoctor.Plugins.PrescriptionManager.dll" />
                    </Component>
                    <Directory Id="dir14B73505E2FC87599BFF89E418405389" Name="fr">
                        <Component Id="cmp4E41E964B69758E46D9669A09B376319" Guid="*">
                            <File Id="fil69C5DC78838238E25A5279E0CCA0FB0A" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmpF443CEBFD3846D5147B25EBAEAE99FFE" Guid="*">
                            <File Id="fil64C01EF9382F880B783ABB0567A829B0" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmpCE427414922B2647A9240CDE957BA90F" Guid="*">
                            <File Id="fil69507E373F1A111EFFBE1B0E36E31451" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.Plugins.PrescriptionManager.resources.dll" />
                        </Component>
                        <Component Id="cmp96C90118BEEE76D97B63FFB871C035F3" Guid="*">
                            <File Id="filECBE57E4E374FC37C0324382F139220C" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmp15DE8256FDFEBA135641A9A9769B73F4" Guid="*">
                            <File Id="fil676B1DFE8F5AA5862B9EAA2E4AC29A47" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB001A0D40DC8390ECC9C52D1F4070A98" Name="UserSession">
                    <Component Id="cmpD122AC918757734256875CEA0522C2E4" Guid="*">
                        <File Id="fil72FC5AFEE8F5F8837C088CAF33EBE3A1" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\Probel.NDoctor.Plugins.UserSession.dll" />
                    </Component>
                    <Directory Id="dirF30F24CB8CF0083E97D65808E74F5394" Name="fr">
                        <Component Id="cmp316EDCBFF46C749D86C2AD10D9E3E52C" Guid="*">
                            <File Id="fil7330144EEE0873EEDD38D7B341369AD3" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="cmp4008FC9FF39EAD6E8E8EA30CAC330E92" Guid="*">
                            <File Id="fil50DA06548BCB101D3E360E3A49C872F0" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="cmpE7C0B67A152C60ACCBED7DA13C0FE5B3" Guid="*">
                            <File Id="fil59E0A2E19CD2675F709786F743932F31" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.Plugins.UserSession.resources.dll" />
                        </Component>
                        <Component Id="cmpCEA6F80762B0516EB3031CAB64599058" Guid="*">
                            <File Id="filCA687F8B6E5E38FDA273379FDD03699F" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="cmpD5467ACC062BEF80FDACAD0506A76C4E" Guid="*">
                            <File Id="filFDE85F821C2CF5A917D3526C8B3E6A45" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>