<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="AutoMapper.dll" Guid="{EB700589-8C50-4007-BFD7-B9C0C3224AB1}">
                <File Id="AutoMapper.dll" KeyPath="yes" Source="$(env.NEST)\AutoMapper.dll" />
            </Component>
            <Component Id="AvalonDock.dll" Guid="{F8BDCAF6-F62E-4B93-86B7-597558ED9D71}">
                <File Id="AvalonDock.dll" KeyPath="yes" Source="$(env.NEST)\AvalonDock.dll" />
            </Component>
            <Component Id="Castle.Core.dll" Guid="{3FF82E8E-7D4F-4A71-BE12-B983116ACFA0}">
                <File Id="Castle.Core.dll" KeyPath="yes" Source="$(env.NEST)\Castle.Core.dll" />
            </Component>
            <Component Id="FluentNHibernate.dll" Guid="{EB2C858B-0C12-4F3C-858C-FBB88DC551DF}">
                <File Id="FluentNHibernate.dll" KeyPath="yes" Source="$(env.NEST)\FluentNHibernate.dll" />
            </Component>
            <Component Id="Google.GData.AccessControl.dll" Guid="{C3B3C584-8565-4E97-943D-6DEF007515FC}">
                <File Id="Google.GData.AccessControl.dll" KeyPath="yes" Source="$(env.NEST)\Google.GData.AccessControl.dll" />
            </Component>
            <Component Id="Google.GData.Calendar.dll" Guid="{F7A3E97E-CA81-4145-A5A1-20BC2DEF2F4A}">
                <File Id="Google.GData.Calendar.dll" KeyPath="yes" Source="$(env.NEST)\Google.GData.Calendar.dll" />
            </Component>
            <Component Id="Google.GData.Client.dll" Guid="{66060E38-5ED9-4463-9526-89893524C576}">
                <File Id="Google.GData.Client.dll" KeyPath="yes" Source="$(env.NEST)\Google.GData.Client.dll" />
            </Component>
            <Component Id="Google.GData.Extensions.dll" Guid="{4A72B994-4B74-46D1-A056-954525A63756}">
                <File Id="Google.GData.Extensions.dll" KeyPath="yes" Source="$(env.NEST)\Google.GData.Extensions.dll" />
            </Component>
            <Component Id="HibernatingRhinos.Profiler.Appender.v4.0.dll" Guid="{1F4B8210-6106-4548-A8E8-C0B773134D46}">
                <File Id="HibernatingRhinos.Profiler.Appender.v4.0.dll" KeyPath="yes" Source="$(env.NEST)\HibernatingRhinos.Profiler.Appender.v4.0.dll" />
            </Component>
            <Component Id="Iesi.Collections.dll" Guid="{67038D8D-72F5-4154-AF23-F5DD7E487429}">
                <File Id="Iesi.Collections.dll" KeyPath="yes" Source="$(env.NEST)\Iesi.Collections.dll" />
            </Component>
            <Component Id="license.rtf" Guid="{5719B0AA-B411-4A83-95BC-6E9B3E030867}">
                <File Id="license.rtf" KeyPath="yes" Source="$(env.NEST)\license.rtf" />
            </Component>
            <Component Id="log4net.dll" Guid="{1CF98E78-8736-4DA8-A48E-AD8455C29D22}">
                <File Id="log4net.dll" KeyPath="yes" Source="$(env.NEST)\log4net.dll" />
            </Component>
            <Component Id="Microsoft.Windows.Shell.dll" Guid="{75A30011-3393-4F1C-8FB5-4AB93DFCE1C0}">
                <File Id="Microsoft.Windows.Shell.dll" KeyPath="yes" Source="$(env.NEST)\Microsoft.Windows.Shell.dll" />
            </Component>
            <Component Id="MongoDB.Bson.dll" Guid="{0927BFBF-2749-44B9-B4B4-41F1AB005B99}">
                <File Id="MongoDB.Bson.dll" KeyPath="yes" Source="$(env.NEST)\MongoDB.Bson.dll" />
            </Component>
            <Component Id="MongoDB.Driver.dll" Guid="{E8EA549E-C611-4C74-B29A-9745BE90FC4F}">
                <File Id="MongoDB.Driver.dll" KeyPath="yes" Source="$(env.NEST)\MongoDB.Driver.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="{5722C86D-C68D-42E7-8993-4C24CF1DBFF2}">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(env.NEST)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="NHibernate.dll" Guid="{6D39EB67-DF7E-411A-AADF-316E625994DC}">
                <File Id="NHibernate.dll" KeyPath="yes" Source="$(env.NEST)\NHibernate.dll" />
            </Component>
            <Component Id="Nini.dll" Guid="{FEFFF755-4B9C-45EA-A21E-09930E4E2D7F}">
                <File Id="Nini.dll" KeyPath="yes" Source="$(env.NEST)\Nini.dll" />
            </Component>
            <Component Id="Probel.Helpers.dll" Guid="{A37F6A7E-AE2F-44D3-990A-15695B6E2525}">
                <File Id="Probel.Helpers.dll" KeyPath="yes" Source="$(env.NEST)\Probel.Helpers.dll" />
            </Component>
            <Component Id="Probel.Helpers.WPF.dll" Guid="{A1E60DC6-4C71-4EF8-B921-9A7B2BD30D44}">
                <File Id="Probel.Helpers.WPF.dll" KeyPath="yes" Source="$(env.NEST)\Probel.Helpers.WPF.dll" />
            </Component>
            <Component Id="Probel.Mvvm.dll" Guid="{45CF7966-0D77-48FF-908F-728A5D6F9985}">
                <File Id="Probel.Mvvm.dll" KeyPath="yes" Source="$(env.NEST)\Probel.Mvvm.dll" />
            </Component>
            <Component Id="Probel.NDoctor.Domain.Components.dll" Guid="{4ED6C9CA-5AC3-4260-8BAE-7134E30D2B80}">
                <File Id="Probel.NDoctor.Domain.Components.dll" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.Domain.Components.dll" />
            </Component>
            <Component Id="Probel.NDoctor.Domain.DAL.dll" Guid="{28BF9B57-E559-4167-A4C1-8379E4BF0415}">
                <File Id="Probel.NDoctor.Domain.DAL.dll" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.Domain.DAL.dll" />
            </Component>
            <Component Id="Probel.NDoctor.Domain.DTO.dll" Guid="{69CAF950-8C8A-4EA5-B438-0F37E667B7B9}">
                <File Id="Probel.NDoctor.Domain.DTO.dll" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.Domain.DTO.dll" />
            </Component>
            <Component Id="Probel.NDoctor.View.Core.exe" Guid="{629FDF18-5747-4549-8533-6A18B3B899B3}">
                <File Id="Probel.NDoctor.View.Core.exe" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.exe" />
            </Component>
            <Component Id="Probel.NDoctor.View.Core.exe.config" Guid="{B6790408-247C-4051-8D5B-B2615EA266CB}">
                <File Id="Probel.NDoctor.View.Core.exe.config" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.exe.config" />
            </Component>
            <Component Id="Probel.NDoctor.View.Core.exe.log4net" Guid="{A05F67AA-CD51-4D62-94EB-D5E64CE48497}">
                <File Id="Probel.NDoctor.View.Core.exe.log4net" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Core.exe.log4net" />
            </Component>
            <Component Id="Probel.NDoctor.View.Plugins.dll" Guid="{38F15799-7D35-41C2-A12A-9F87E01C4DED}">
                <File Id="Probel.NDoctor.View.Plugins.dll" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Plugins.dll" />
            </Component>
            <Component Id="Probel.NDoctor.View.Toolbox.dll" Guid="{E4D7C0F3-397E-431F-B628-24740ADEEFF6}">
                <File Id="Probel.NDoctor.View.Toolbox.dll" KeyPath="yes" Source="$(env.NEST)\Probel.NDoctor.View.Toolbox.dll" />
            </Component>
            <Component Id="RibbonControlsLibrary.dll" Guid="{B6111224-50DC-469E-B7A0-49BB068F212B}">
                <File Id="RibbonControlsLibrary.dll" KeyPath="yes" Source="$(env.NEST)\RibbonControlsLibrary.dll" />
            </Component>
            <Component Id="StructureMap.dll" Guid="{B7BED41B-1EE6-455A-B87F-FEC683344FAF}">
                <File Id="StructureMap.dll" KeyPath="yes" Source="$(env.NEST)\StructureMap.dll" />
            </Component>
            <Component Id="System.Data.SQLite.dll" Guid="{F2767A11-4E29-4F8E-A1E7-4D3ED62D06EF}">
                <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="$(env.NEST)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="System.Windows.Controls.DataVisualization.Toolkit.dll" Guid="{7F8AC7FB-6767-4140-83F4-0BCD944979DD}">
                <File Id="System.Windows.Controls.DataVisualization.Toolkit.dll" KeyPath="yes" Source="$(env.NEST)\System.Windows.Controls.DataVisualization.Toolkit.dll" />
            </Component>
            <Component Id="System.Windows.Controls.Input.Toolkit.dll" Guid="{84D44028-36A9-4106-A721-8F507B222920}">
                <File Id="System.Windows.Controls.Input.Toolkit.dll" KeyPath="yes" Source="$(env.NEST)\System.Windows.Controls.Input.Toolkit.dll" />
            </Component>
            <Component Id="System.Windows.Controls.Layout.Toolkit.dll" Guid="{A2814BEB-872E-4AF4-916E-E111E746E064}">
                <File Id="System.Windows.Controls.Layout.Toolkit.dll" KeyPath="yes" Source="$(env.NEST)\System.Windows.Controls.Layout.Toolkit.dll" />
            </Component>
            <Component Id="WPFToolkit.dll" Guid="{67347C0D-9F0D-4F5D-A4F7-674179689B1B}">
                <File Id="WPFToolkit.dll" KeyPath="yes" Source="$(env.NEST)\WPFToolkit.dll" />
            </Component>
            <Component Id="WPFToolkit.Extended.dll" Guid="{586D0262-89A2-43EB-AB5D-962E3F729CDF}">
                <File Id="WPFToolkit.Extended.dll" KeyPath="yes" Source="$(env.NEST)\WPFToolkit.Extended.dll" />
            </Component>
            <Component Id="Xceed.Wpf.DataGrid.dll" Guid="{2682AEC8-0F29-4F3B-9950-E58D07CAAC54}">
                <File Id="Xceed.Wpf.DataGrid.dll" KeyPath="yes" Source="$(env.NEST)\Xceed.Wpf.DataGrid.dll" />
            </Component>
            <Directory Id="fr" Name="fr">
                <Component Id="Probel.Helpers.resources.dll" Guid="{2BB5B6D3-BC36-4B75-BDAD-F69A9CD21B43}">
                    <File Id="Probel.Helpers.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.Helpers.resources.dll" />
                </Component>
                <Component Id="Probel.Mvvm.resources.dll" Guid="{280266EE-B91E-4295-8F59-4707899FD185}">
                    <File Id="Probel.Mvvm.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.Mvvm.resources.dll" />
                </Component>
                <Component Id="Probel.NDoctor.Domain.DAL.resources.dll" Guid="{44BC9C49-9A98-4884-934D-1D269718184E}">
                    <File Id="Probel.NDoctor.Domain.DAL.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                </Component>
                <Component Id="Probel.NDoctor.Domain.DTO.resources.dll" Guid="{E6D637DB-316D-4B30-A4DA-CE8643A30CF3}">
                    <File Id="Probel.NDoctor.Domain.DTO.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.Domain.DTO.resources.dll" />
                </Component>
                <Component Id="Probel.NDoctor.View.Core.resources.dll" Guid="{3D3BE122-2342-4EB5-A92A-F1DD5DA3DE79}">
                    <File Id="Probel.NDoctor.View.Core.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.View.Core.resources.dll" />
                </Component>
                <Component Id="Probel.NDoctor.View.Plugins.resources.dll" Guid="{DE42B862-9EBA-4D71-A4CE-EBDEDF93BA7B}">
                    <File Id="Probel.NDoctor.View.Plugins.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                </Component>
                <Component Id="Probel.NDoctor.View.Toolbox.resources.dll" Guid="{E6B80ED0-1296-4A8E-A228-D4F40443B2B4}">
                    <File Id="Probel.NDoctor.View.Toolbox.resources.dll" KeyPath="yes" Source="$(env.NEST)\fr\Probel.NDoctor.View.Toolbox.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="Plugins" Name="Plugins">
                <Directory Id="Administration" Name="Administration">
                    <Component Id="Probel.NDoctor.Plugins.Administration.dll" Guid="{2663B0D0-6021-4893-8C36-5CFB529830BD}">
                        <File Id="Probel.NDoctor.Plugins.Administration.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\Probel.NDoctor.Plugins.Administration.dll" />
                    </Component>
                    <Directory Id="fr_1" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_1" Guid="{762F0CD4-6E34-4785-B9BD-3BCA19B0CDD5}">
                            <File Id="Probel.Helpers.resources.dll_1" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_1" Guid="{6C3DAE25-BF91-4E4A-895B-77FB72DB31C1}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_1" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.Administration.resources.dll" Guid="{DCEC4298-357A-49D5-91A8-E07CCC9AEA17}">
                            <File Id="Probel.NDoctor.Plugins.Administration.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.Plugins.Administration.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_1" Guid="{3612C567-2D30-4FC0-A6F5-89576CF6EB3C}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_1" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_1" Guid="{D3759A3B-73B6-4938-A715-30A86467CDB6}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_1" KeyPath="yes" Source="$(env.NEST)\Plugins\Administration\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="Authorisation" Name="Authorisation">
                    <Component Id="Probel.NDoctor.Plugins.Authorisation.dll" Guid="{0E02CF07-FE33-4D64-90D7-ED3B0583E530}">
                        <File Id="Probel.NDoctor.Plugins.Authorisation.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\Probel.NDoctor.Plugins.Authorisation.dll" />
                    </Component>
                    <Directory Id="fr_2" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_2" Guid="{8304B708-D559-49F4-A842-8EF64BEE7DC8}">
                            <File Id="Probel.Helpers.resources.dll_2" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_2" Guid="{3AD9CACC-7E8A-4DBB-A0AD-75A70FB760EB}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_2" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.Authorisation.resources.dll" Guid="{4B9EE566-CD32-438E-876D-A2E0F313F107}">
                            <File Id="Probel.NDoctor.Plugins.Authorisation.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.Plugins.Authorisation.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_2" Guid="{75873BC5-D368-4984-BA3F-EFCC3C737340}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_2" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_2" Guid="{C41ACF3D-51F1-4771-AAB4-7DD11CA9A056}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_2" KeyPath="yes" Source="$(env.NEST)\Plugins\Authorisation\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="BmiRecord" Name="BmiRecord">
                    <Component Id="Probel.NDoctor.Plugins.BmiRecord.dll" Guid="{3F318066-3AE0-4762-A3EB-2B21C26836E0}">
                        <File Id="Probel.NDoctor.Plugins.BmiRecord.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\Probel.NDoctor.Plugins.BmiRecord.dll" />
                    </Component>
                    <Directory Id="fr_3" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_3" Guid="{C0EA8684-5F83-45E4-A5CD-C6C6DF7A154E}">
                            <File Id="Probel.Helpers.resources.dll_3" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_3" Guid="{6115282A-1523-4F63-900F-E007907245E7}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_3" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.BmiRecord.resources.dll" Guid="{DB102E1F-7AD1-49FA-A41F-F0978FFA24B8}">
                            <File Id="Probel.NDoctor.Plugins.BmiRecord.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.Plugins.BmiRecord.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_3" Guid="{E22BA4AF-EB6B-48D2-8A13-560260FF7147}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_3" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_3" Guid="{B1357DF8-1907-4821-98E9-8EDB14074038}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_3" KeyPath="yes" Source="$(env.NEST)\Plugins\BmiRecord\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="DbConvert" Name="DbConvert">
                    <Component Id="Probel.NDoctor.Plugins.DbConvert.dll" Guid="{0142647D-288E-49E1-A96C-D93A247CCED4}">
                        <File Id="Probel.NDoctor.Plugins.DbConvert.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\Probel.NDoctor.Plugins.DbConvert.dll" />
                    </Component>
                    <Directory Id="fr_4" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_4" Guid="{E39DD302-2735-4790-A93E-5A6D4D8972A9}">
                            <File Id="Probel.Helpers.resources.dll_4" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_4" Guid="{C018ED2D-8547-46B1-BF13-E3571197C468}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_4" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.DbConvert.resources.dll" Guid="{0A0F991C-CC63-4932-B921-789058462625}">
                            <File Id="Probel.NDoctor.Plugins.DbConvert.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.Plugins.DbConvert.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_4" Guid="{2D3543A7-736D-4CC5-93E9-0DD6719C1ABD}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_4" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_4" Guid="{8AFB1D77-AE8B-4A24-B482-BD64F36B11E9}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_4" KeyPath="yes" Source="$(env.NEST)\Plugins\DbConvert\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="FamilyViewer" Name="FamilyViewer">
                    <Component Id="Probel.NDoctor.Plugins.FamilyViewer.dll" Guid="{DCA827FB-77BD-4916-B1CE-31DDF7550B37}">
                        <File Id="Probel.NDoctor.Plugins.FamilyViewer.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\Probel.NDoctor.Plugins.FamilyViewer.dll" />
                    </Component>
                    <Directory Id="fr_5" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_5" Guid="{545A4D10-BDCE-44A7-9D75-4FF5CA411238}">
                            <File Id="Probel.Helpers.resources.dll_5" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_5" Guid="{9A0E25F7-771C-44B3-8934-F49C85B8850E}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_5" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.FamilyViewer.resources.dll" Guid="{3E3C2410-8868-4673-91CB-E67C00504800}">
                            <File Id="Probel.NDoctor.Plugins.FamilyViewer.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.Plugins.FamilyViewer.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_5" Guid="{CC3EF716-69A9-4511-B905-992BA5A97EB3}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_5" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_5" Guid="{6F03B4A7-9848-4C1B-A0B8-D028B8F0DADB}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_5" KeyPath="yes" Source="$(env.NEST)\Plugins\FamilyViewer\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="MedicalRecord" Name="MedicalRecord">
                    <Component Id="ICSharpCode.AvalonEdit.dll" Guid="{040DA76C-8118-4C0A-93EF-3DC925426142}">
                        <File Id="ICSharpCode.AvalonEdit.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\ICSharpCode.AvalonEdit.dll" />
                    </Component>
                    <Component Id="Probel.NDoctor.Plugins.MedicalRecord.dll" Guid="{BCE2B784-BAA5-4AB2-BBDF-9C8B48188986}">
                        <File Id="Probel.NDoctor.Plugins.MedicalRecord.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\Probel.NDoctor.Plugins.MedicalRecord.dll" />
                    </Component>
                    <Directory Id="fr_6" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_6" Guid="{C4F3E003-30C1-4EA0-BEE8-0C2FB20CED57}">
                            <File Id="Probel.Helpers.resources.dll_6" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_6" Guid="{8DFE21DD-7C8A-454B-8C69-32F1209470F8}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_6" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.MedicalRecord.resources.dll" Guid="{5AD9A707-C3C1-4E6C-BA3E-83D69B1FDA0F}">
                            <File Id="Probel.NDoctor.Plugins.MedicalRecord.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.Plugins.MedicalRecord.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_6" Guid="{F9BC005E-20FF-4D24-A1FE-05CDC95FCE6C}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_6" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_6" Guid="{CFB17A76-55AF-4845-8A02-49C99728B792}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_6" KeyPath="yes" Source="$(env.NEST)\Plugins\MedicalRecord\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="MeetingManager" Name="MeetingManager">
                    <Component Id="Probel.NDoctor.Plugins.MeetingManager.dll" Guid="{233E2B3C-3934-46C4-97DB-479F4875A2C2}">
                        <File Id="Probel.NDoctor.Plugins.MeetingManager.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\Probel.NDoctor.Plugins.MeetingManager.dll" />
                    </Component>
                    <Directory Id="fr_7" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_7" Guid="{365DF98B-8A56-4C99-8F16-DFE786465E80}">
                            <File Id="Probel.Helpers.resources.dll_7" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_7" Guid="{FF81F704-0A43-471D-9445-3FD7A71B08EC}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_7" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.MeetingManager.resources.dll" Guid="{31E27B0A-36A0-48E4-B3E3-0E31428A26C2}">
                            <File Id="Probel.NDoctor.Plugins.MeetingManager.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.Plugins.MeetingManager.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_7" Guid="{A3956EFC-BAC3-4D7D-BC52-5FC8C6FDA007}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_7" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_7" Guid="{1F11382C-FB02-45BA-AA5A-256F2DAC41F5}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_7" KeyPath="yes" Source="$(env.NEST)\Plugins\MeetingManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="PathologyManager" Name="PathologyManager">
                    <Component Id="Probel.NDoctor.Plugins.PathologyManager.dll" Guid="{9E553360-C164-42C5-ACC1-88523C6F3E38}">
                        <File Id="Probel.NDoctor.Plugins.PathologyManager.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\Probel.NDoctor.Plugins.PathologyManager.dll" />
                    </Component>
                    <Directory Id="fr_8" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_8" Guid="{7C7294EB-5D54-443A-B3A3-EA75309E7590}">
                            <File Id="Probel.Helpers.resources.dll_8" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_8" Guid="{BD76AC86-4D54-4A43-B3E0-78777C4C0700}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_8" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.PathologyManager.resources.dll" Guid="{760F55F6-68CA-4482-82D1-9CCB6CE78455}">
                            <File Id="Probel.NDoctor.Plugins.PathologyManager.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.Plugins.PathologyManager.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_8" Guid="{7EA0FF92-D000-4E9F-B658-5AB2C0EF1DF6}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_8" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_8" Guid="{A6252805-0351-4594-B99D-BA332D8B4BCE}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_8" KeyPath="yes" Source="$(env.NEST)\Plugins\PathologyManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="PatientData" Name="PatientData">
                    <Component Id="Probel.NDoctor.Plugins.PatientData.dll" Guid="{98B5F9ED-91F8-4897-BD28-C5FE99BA7678}">
                        <File Id="Probel.NDoctor.Plugins.PatientData.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\Probel.NDoctor.Plugins.PatientData.dll" />
                    </Component>
                    <Directory Id="fr_9" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_9" Guid="{6797B995-A345-4054-963E-6144F63D2318}">
                            <File Id="Probel.Helpers.resources.dll_9" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_9" Guid="{0B9938BA-8635-42C0-B4C7-15756B267B87}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_9" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.PatientData.resources.dll" Guid="{1E8111E9-BC3D-44B4-AF62-3EBD93D217DE}">
                            <File Id="Probel.NDoctor.Plugins.PatientData.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.Plugins.PatientData.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_9" Guid="{8DDA227D-81CB-49D2-B2CE-9A80FC43E82B}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_9" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_9" Guid="{7AA9443F-1A77-4846-A04C-939C237E295E}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_9" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientData\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="PatientOverview" Name="PatientOverview">
                    <Component Id="Probel.NDoctor.Plugins.PatientOverview.dll" Guid="{EDB2383B-3430-4B0C-A9AF-211BBF314837}">
                        <File Id="Probel.NDoctor.Plugins.PatientOverview.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\Probel.NDoctor.Plugins.PatientOverview.dll" />
                    </Component>
                    <Directory Id="fr_10" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_10" Guid="{48D5792D-DE16-4BA1-9D5D-D22C31F6ED05}">
                            <File Id="Probel.Helpers.resources.dll_10" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_10" Guid="{F945C091-A2CF-4124-9CA8-BE4E2D084232}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_10" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.PatientOverview.resources.dll" Guid="{4A352EB9-5BB8-48F6-BAE6-F5175E796441}">
                            <File Id="Probel.NDoctor.Plugins.PatientOverview.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.Plugins.PatientOverview.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_10" Guid="{73151563-76FE-4BE6-BD52-7336FD00069D}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_10" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_10" Guid="{3B655B67-88BF-4B7B-97FF-12480C4C37C1}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_10" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientOverview\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="PatientSession" Name="PatientSession">
                    <Component Id="Probel.NDoctor.Plugins.PatientSession.dll" Guid="{9D0704AA-A5B7-47AD-B337-249BB3945713}">
                        <File Id="Probel.NDoctor.Plugins.PatientSession.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\Probel.NDoctor.Plugins.PatientSession.dll" />
                    </Component>
                    <Directory Id="fr_11" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_11" Guid="{E01D4F99-7E7E-49DE-8E6B-E8E5262B3B48}">
                            <File Id="Probel.Helpers.resources.dll_11" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_11" Guid="{B9F9C539-DA1D-492F-BFC2-8CA1892D0FA8}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_11" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.PatientSession.resources.dll" Guid="{D1275ED4-1DC9-4C27-BFC9-951931C265AA}">
                            <File Id="Probel.NDoctor.Plugins.PatientSession.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.Plugins.PatientSession.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_11" Guid="{53FF8CE6-DDD2-4302-8656-B3441E6F1272}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_11" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_11" Guid="{AA1814A8-BF0B-4AE4-A778-E47CCC87BA8D}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_11" KeyPath="yes" Source="$(env.NEST)\Plugins\PatientSession\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="PictureManager" Name="PictureManager">
                    <Component Id="Probel.NDoctor.Plugins.PictureManager.dll" Guid="{95D9B239-94FB-4C8E-A81B-7A3DCF7DE9AE}">
                        <File Id="Probel.NDoctor.Plugins.PictureManager.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\Probel.NDoctor.Plugins.PictureManager.dll" />
                    </Component>
                    <Directory Id="fr_12" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_12" Guid="{B2DF1006-CAA3-4DA0-85C2-15F3E6058D60}">
                            <File Id="Probel.Helpers.resources.dll_12" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_12" Guid="{877437B5-2308-487E-87E0-EB3F29FBBF88}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_12" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.PictureManager.resources.dll" Guid="{01FA65DA-2CEE-4236-BFFC-B312135B2F7A}">
                            <File Id="Probel.NDoctor.Plugins.PictureManager.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.Plugins.PictureManager.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_12" Guid="{5BCCEBA6-146F-451A-BDB5-79F64C9E1E2A}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_12" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_12" Guid="{4EEE6C8F-E9B6-4A40-8875-A23605FEB205}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_12" KeyPath="yes" Source="$(env.NEST)\Plugins\PictureManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="PrescriptionManager" Name="PrescriptionManager">
                    <Component Id="Probel.NDoctor.Plugins.PrescriptionManager.dll" Guid="{BF9C41D4-8968-4326-B1C4-BB9F2FAF6350}">
                        <File Id="Probel.NDoctor.Plugins.PrescriptionManager.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\Probel.NDoctor.Plugins.PrescriptionManager.dll" />
                    </Component>
                    <Directory Id="fr_13" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_13" Guid="{5E171024-380E-4B8B-BDD7-5B513DC2C9D9}">
                            <File Id="Probel.Helpers.resources.dll_13" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_13" Guid="{31A2E467-40EB-4E55-B210-CE37B1D7F284}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_13" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.PrescriptionManager.resources.dll" Guid="{2530A7A0-1010-4401-863E-1E74DDEC9296}">
                            <File Id="Probel.NDoctor.Plugins.PrescriptionManager.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.Plugins.PrescriptionManager.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_13" Guid="{4D1B85D8-A578-4EBD-8559-A4C0AF72F59A}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_13" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_13" Guid="{FA0C80F2-E555-4540-ACC8-85AE42A8DB67}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_13" KeyPath="yes" Source="$(env.NEST)\Plugins\PrescriptionManager\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="UserSession" Name="UserSession">
                    <Component Id="Probel.NDoctor.Plugins.UserSession.dll" Guid="{86D84ED3-7290-4C9B-9B28-8592DB6AF574}">
                        <File Id="Probel.NDoctor.Plugins.UserSession.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\Probel.NDoctor.Plugins.UserSession.dll" />
                    </Component>
                    <Directory Id="fr_14" Name="fr">
                        <Component Id="Probel.Helpers.resources.dll_14" Guid="{F95FD8E8-5369-426C-9CBE-986232A22663}">
                            <File Id="Probel.Helpers.resources.dll_14" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.Helpers.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Domain.DAL.resources.dll_14" Guid="{3C7260C3-5E27-432D-9F7E-B662DDF40C27}">
                            <File Id="Probel.NDoctor.Domain.DAL.resources.dll_14" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.Domain.DAL.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.Plugins.UserSession.resources.dll" Guid="{7C98E501-0D28-4766-9D52-91857532D771}">
                            <File Id="Probel.NDoctor.Plugins.UserSession.resources.dll" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.Plugins.UserSession.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Core.resources.dll_14" Guid="{20E0106E-F47B-4CE6-9BDB-205B86BEBBCC}">
                            <File Id="Probel.NDoctor.View.Core.resources.dll_14" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.View.Core.resources.dll" />
                        </Component>
                        <Component Id="Probel.NDoctor.View.Plugins.resources.dll_14" Guid="{899D4EFC-AFA2-4F26-B29A-DBFA9FBD5EE5}">
                            <File Id="Probel.NDoctor.View.Plugins.resources.dll_14" KeyPath="yes" Source="$(env.NEST)\Plugins\UserSession\fr\Probel.NDoctor.View.Plugins.resources.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>