<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="nDoctor" Language="1033" Version="3.0.4" UpgradeCode="3F3C4F4D-2FA7-409F-9B45-EECB6D840B56" Manufacturer="Probel">
		<Package Description="#Description" Comments="Comments" InstallerVersion="200" Compressed="yes" />
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
		
		<MajorUpgrade Schedule="afterInstallInitialize"
		              DowngradeErrorMessage="A later version of nDoctor is already installed. Setup will now exit"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<!-- the default directory structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="nDoctor" />
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Probel"/>
			</Directory>
			
			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
		
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="{3C920A52-6D0E-4A42-B393-D87F4E821CC6}">
				<Shortcut Id="ApplicationStartMenuShortcut"
				          Name="nDoctor"
				          Description="Private medical pratcice management system"
				          Target="[INSTALLLOCATION]Probel.NDoctor.View.Core.exe"
				          WorkingDirectory="INSTALLLOCATION"/>
				
				<Shortcut Id="UninstallProduct"
				          Name="Uninstall nDoctor"
				          Target="[SystemFolder]msiexec.exe"
				          Arguments="/x [ProductCode]"
				          Description="Uninstalls nDoctor" />
				
				<util:InternetShortcut Id="OnlineDocumentationShortcut"
					Name="nDoctor website"
					Target="http://www.phoenixsuite.net/"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Microsoft\nDoctor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="{86C8E305-CCFC-45B3-A85F-0FD6C18DAF77}">
				<Shortcut Id="DesktopApplicationShortcut"
				          Name="nDoctor"
				          Description="Private medical pratcice management system"
				          Target="[INSTALLLOCATION]Probel.NDoctor.View.Core.exe"
				          WorkingDirectory="INSTALLLOCATION"/>
				<RegistryValue Root="HKCU" Key="Software\Microsoft\nDoctor" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
			</Component>
		</DirectoryRef>
		
		
		<!-- Contains the components to install -->
		<Feature Id="Complete" Title="nDoctor" Description="Private medical pratcice management system" Level="1">
			<ComponentRef Id="ApplicationShortcut"/>
			<ComponentRef Id="DesktopShortcut"/>
			<ComponentRef Id="cmpA8EE7350228F5431A092C53E2351A1DA"/>
<ComponentRef Id="cmp95FD366ED002BAD1A9B72F08677B4EBB"/>
<ComponentRef Id="cmp4AE2CD167FF4894E9076AF5FC612D713"/>
<ComponentRef Id="cmp3A997FB04A9779433D25509F92A86936"/>
<ComponentRef Id="cmp5AB409D451CF4583BD9ABE39059F3DB8"/>
<ComponentRef Id="cmp016E7DAEBC61B387C7B616635A276937"/>
<ComponentRef Id="cmp887C83716E08DA027C82D8248058E578"/>
<ComponentRef Id="cmp679B82EDFE52528D9666ECA768F550A6"/>
<ComponentRef Id="cmp863C2A8BB29E5C4C81AF987087C6859E"/>
<ComponentRef Id="cmpEBE3708427CCDA04E12DE366A56F4441"/>
<ComponentRef Id="cmpACB6CD6FFB2A84501BD9E8392459FA45"/>
<ComponentRef Id="cmp964F9515A99542A3E8D1EBC823B8CD2C"/>
<ComponentRef Id="cmpFBCC29B4206A310A160865E52663C221"/>
<ComponentRef Id="cmpFA2A2CBF41325A5EEFC962315750E330"/>
<ComponentRef Id="cmp72974F93C3F42DAFDBFB2867D92E41D9"/>
<ComponentRef Id="cmp48A389F21271FDC5825A9C1B25E82E45"/>
<ComponentRef Id="cmpDAA52FB0FA39AE33D5E28FED0F4E300B"/>
<ComponentRef Id="cmpD4092A2E988A1CF3581061DFDCF81B4B"/>
<ComponentRef Id="cmpFA86C01A3D98EA3173EF4F04DABD6EFD"/>
<ComponentRef Id="cmpA606428E3ED1C38DB96C53CA2F648826"/>
<ComponentRef Id="cmp1C9F3AC8E93C876BE07A062AE3E195CD"/>
<ComponentRef Id="cmpB55847492E81B24623F1F22CD987B226"/>
<ComponentRef Id="cmp22BEB37DB218344623028C5FCC2D25F8"/>
<ComponentRef Id="cmp3B40EB30F6B6FDB8FE92ECEF7A327199"/>
<ComponentRef Id="cmpB372E2F71436082544E17B16DDFC8075"/>
<ComponentRef Id="cmpE3E6DCDC33A060A9D07CBA3853DE9827"/>
<ComponentRef Id="cmp8283157907C9C263EF085DC0DBC5AE7F"/>
<ComponentRef Id="cmpC9E80DA5005470651652A3C3DF7A0E01"/>
<ComponentRef Id="cmp9DA5A034D58AAFD9958B17EB72041AA4"/>
<ComponentRef Id="cmpE9E0DB0A92DC26C9256D7AFF981046D7"/>
<ComponentRef Id="cmp54589ABC5F720AF3AFD2A19E4A5D4DA9"/>
<ComponentRef Id="cmpC90079EC06B27F900AD04264028C916D"/>
<ComponentRef Id="cmp5BE9B98660882F9C3FF99CA006E598E2"/>
<ComponentRef Id="cmpE4950E86D5EC421C7E76C8E51B9D0E87"/>
<ComponentRef Id="cmp674610C254356A69BB0B856BC9E45F67"/>
<ComponentRef Id="cmp8341C8DC13AB9E7E519D410C4FA10773"/>
<ComponentRef Id="cmp809C2AD388CE8E7C8F57E018B288F196"/>
<ComponentRef Id="cmp39A04F6DBF655CC40248EC6309715D8B"/>
<ComponentRef Id="cmp83FC17FD05B381D1F7C8F70CD9992C95"/>
<ComponentRef Id="cmp955F878C51CD0D3B913BACE3601DAFE2"/>
<ComponentRef Id="cmp6DE2DCF1EEB103BD4BE3932374E7D895"/>
<ComponentRef Id="cmp1305C0EA040E8C477A69FD13401FA4C1"/>
<ComponentRef Id="cmpA9F73CEDBC54AE570B068B1A7A6F907C"/>
<ComponentRef Id="cmp40A91BE231F41D26303998E1F2AF220A"/>
<ComponentRef Id="cmpFEBAE63FD904CE060C7BA5EFF9F23586"/>
<ComponentRef Id="cmp74232BEF50199E96CC1FCA17BE61FED6"/>
<ComponentRef Id="cmp641589617726FFE502689A03AF7BC593"/>
<ComponentRef Id="cmp780F789609216C7BE4BB8716623DBB08"/>
<ComponentRef Id="cmpA9C45E07FA1CDE0DBBAC099C8DE069F3"/>
<ComponentRef Id="cmpA19419B03B8109A6EA7FABD94D71CF85"/>
<ComponentRef Id="cmp205FA501BC490B9DA8684CE8D50347E6"/>
<ComponentRef Id="cmp46F0BA028909031718DBEE6B1B64B79A"/>
<ComponentRef Id="cmp2603CA21D9E33DBCFA5652A9B0D05764"/>
<ComponentRef Id="cmp1DE0D0A1CA3803AFB0D710BC08DBABC0"/>
<ComponentRef Id="cmp94EDFADCC092DD7BC0345F0A8B1842F4"/>
<ComponentRef Id="cmp3C5AC6E41A7A75DA7699E6E59862FBBF"/>
<ComponentRef Id="cmp6C52D9A65B1218CED3089C4B28E16EE0"/>
<ComponentRef Id="cmp486FDCE297B63F31D3B551C4B10F96D8"/>
<ComponentRef Id="cmp2E2BB6968E5CE22A895112407B122FEA"/>
<ComponentRef Id="cmpCF3AA2ED1BE411DBB05DEB5750D1444C"/>
<ComponentRef Id="cmp409E08C2064302CEA4A3042B5AFC0EE5"/>
<ComponentRef Id="cmpD6AA009C21985A96F270037E053072F1"/>
<ComponentRef Id="cmp8F6E51D7951C9F0E4CEA4DD06713FA8E"/>
<ComponentRef Id="cmp56DCD97D193E50F5DCED1CB1C6E8C9AD"/>
<ComponentRef Id="cmp7F59132FC8F49A64F4B9097CF44DCD9E"/>
<ComponentRef Id="cmpE5874A67816384EBB6216D2B2969D894"/>
<ComponentRef Id="cmp9E32AE9C640005CA542B78B26B003405"/>
<ComponentRef Id="cmp5121E0734FB2A52ECB48D3A535A61295"/>
<ComponentRef Id="cmpA92AD97548ADC709875709B0A993CCFA"/>
<ComponentRef Id="cmpACA274D634C67A99972BD04994E1984E"/>
<ComponentRef Id="cmp6E0C59392CEB06067E865CB4DEACA4EF"/>
<ComponentRef Id="cmp9AC1D933A37B28C8750AD7DABFBDA773"/>
<ComponentRef Id="cmp465BD801FCF5290353725A2C3FE397D0"/>
<ComponentRef Id="cmp78004B86B99F694328FED04F5EBCD94A"/>
<ComponentRef Id="cmp3A01E807AB67FCF43DE7B9B9E3204DDC"/>
<ComponentRef Id="cmp55A033CC194D20E2BFF71BDFB19BC9E1"/>
<ComponentRef Id="cmpEE68E9B344D58459C103BD6405DA5EE3"/>
<ComponentRef Id="cmpAF5799806DA19788F64BEA9D435CB6E4"/>
<ComponentRef Id="cmp2A7B8AAD74935A09D14BD1E08230F279"/>
<ComponentRef Id="cmp2C122F33A9F7054D248DA629DEE9A06E"/>
<ComponentRef Id="cmp7F7408FD7BA8FBBDBA4A54DD52B2B0D6"/>
<ComponentRef Id="cmp6655383E4350CECC2C12B0F864396455"/>
<ComponentRef Id="cmp6C11A2DE4FB10452017B3161CB4EC062"/>
<ComponentRef Id="cmp5017A23668D9C62734EFEA4CB1057062"/>
<ComponentRef Id="cmp3C7FF848C92B1096D93393D98F4BD8A6"/>
<ComponentRef Id="cmpA07F853FDE9169C3F9FACCF3A6459386"/>
<ComponentRef Id="cmpBEEFC14F3A9AE44DE83500E62DD4D1FC"/>
<ComponentRef Id="cmp36D086B9AA8C9683DB216AEEAA5DCD66"/>
<ComponentRef Id="cmpCA0B21CBEB7EE710BA70C6BE0CEF75E8"/>
<ComponentRef Id="cmpE6007DE7A90F6D1C83DF74AD31434609"/>
<ComponentRef Id="cmp2000C6E427AEA0E22C6A56D2B9024579"/>
<ComponentRef Id="cmp8E515FE0F49FB1AB1D2D1E5149AC3381"/>
<ComponentRef Id="cmpB9B51DFCA3CFA8FAF1C14BBB343F9806"/>
<ComponentRef Id="cmpF78869A1A5E975215ED5C13025F571C3"/>
<ComponentRef Id="cmpC9A486554D08420C09E29BA46D5FA732"/>
<ComponentRef Id="cmp9695E1C1BEE81BE673113C1911723C15"/>
<ComponentRef Id="cmpC07DAA545E021336F978C23A580DEE47"/>
<ComponentRef Id="cmp2DA2B499D12B0A22EED04DE39986D969"/>
<ComponentRef Id="cmp0FF6C931EF7B9AB8D70215928BFAAB1D"/>
<ComponentRef Id="cmpC7990C5889D633032BB993436182DC31"/>
<ComponentRef Id="cmp9ACB2909D1604C72AE895D367182F375"/>
<ComponentRef Id="cmp79AFE71D92FD0FB72168FA13DB4CF1F8"/>
<ComponentRef Id="cmp0FD3B4B3B208C349055FD4A81242BEDA"/>
<ComponentRef Id="cmp6F7082CA7B15DE47271E5A0310E54AF6"/>
<ComponentRef Id="cmpD68319E8EF9A176C3477B0F59F8D4638"/>
<ComponentRef Id="cmpAC2453D515B00FA2BEF8CB16A659A2C7"/>
<ComponentRef Id="cmp0217B20E1C799848530D30E873C0AD34"/>
<ComponentRef Id="cmpF0338882FD95B775897487A5EAB039CE"/>
<ComponentRef Id="cmp07E3B84E72CBEF99E961010290E6F108"/>
<ComponentRef Id="cmpAA801BF02CEAB2E456D8C0F90A7408CF"/>
<ComponentRef Id="cmp38420039A357C9B80FD30354A412C44D"/>
<ComponentRef Id="cmp924979CEEA899ECAF3F078450C092FCD"/>
<ComponentRef Id="cmp103EA283DB7B518171D524BF69925E5F"/>
<ComponentRef Id="cmp2DD6014BB8B9E9847EDC210E4331D2D1"/>
<ComponentRef Id="cmpF73E18D662D51353E7C5A0E6EDEF4A3B"/>
<ComponentRef Id="cmpE5EE8B809DDABD8EF948CBAAEF727B20"/>
<ComponentRef Id="cmp48E6EC175F99DCC32E26E8E525DD804A"/>
<ComponentRef Id="cmp6A2C9450034AE44157598891FDA3CFE0"/>
<ComponentRef Id="cmp3AC7EA8A3F6E0A31F83A5123F496BDB1"/>
<ComponentRef Id="cmp789F9ED5A43012936B67CEF3DE7895F8"/>
<ComponentRef Id="cmp65EBD3B4E7688D7E83FBE992E45750A8"/>
<ComponentRef Id="cmp701F2051E2B3530C3212F03D30FFBB6C"/>
<ComponentRef Id="cmp083D90DAF26F2AF4D84CEE8A925847EC"/>
<ComponentRef Id="cmp5536D5E3158382389C8F12CB9CD29B30"/>
<ComponentRef Id="cmp96BCDD6E73A9FB814C653C692AF4F419"/>
<ComponentRef Id="cmp4E41E964B69758E46D9669A09B376319"/>
<ComponentRef Id="cmpF443CEBFD3846D5147B25EBAEAE99FFE"/>
<ComponentRef Id="cmpCE427414922B2647A9240CDE957BA90F"/>
<ComponentRef Id="cmp96C90118BEEE76D97B63FFB871C035F3"/>
<ComponentRef Id="cmp15DE8256FDFEBA135641A9A9769B73F4"/>
<ComponentRef Id="cmpD122AC918757734256875CEA0522C2E4"/>
<ComponentRef Id="cmp316EDCBFF46C749D86C2AD10D9E3E52C"/>
<ComponentRef Id="cmp4008FC9FF39EAD6E8E8EA30CAC330E92"/>
<ComponentRef Id="cmpE7C0B67A152C60ACCBED7DA13C0FE5B3"/>
<ComponentRef Id="cmpCEA6F80762B0516EB3031CAB64599058"/>
<ComponentRef Id="cmpD5467ACC062BEF80FDACAD0506A76C4E"/>

		</Feature>
		
		<!--
			Using the Wix UI library
 
			WixUI_InstallDir does not allow the user to choose 
			features but adds a dialog to let the user choose a 
			directory where the product will be installed
		-->
		<Property Id="WIXUI_INSTALLDIR">INSTALLLOCATION</Property>
		<UIRef Id="WixUI_InstallDir" />
	</Product>
</Wix>
