<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="1.9.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" />
  <package id="Probel.Mvvm" version="1.2.2.95" targetFramework="net40" />
  <package id="Probel.Mvvm.fr" version="1.2.2.95" targetFramework="net40" />
</packages>